* {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  background: url("../Img/MenuAwal.png");
  overflow: hidden;
}

#Container {
  display: block;
  position: absolute;
  left: 40px;
  top: 100px;
  width: 1280px;
  height: 500px;
}

#title-level {
  position: relative;
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.btnLevelOne {
  position: relative;
  margin-top: 42px;
  top: 2px;
  left: 200px;
  width: 100px;
  height: 300px;
  font-size: 40px;
}

.btnLevelTwo {
  position: relative;
  margin-top: 40px;
  margin-left: 90px;
  top: -600px;
  left: 500px;
  width: 100px;
  height: 280px;
}

.btnLevelThree {
  position: relative;
  margin-top: 40px;
  margin-left: 200px;
  left: 800px;
  top: -1200px;
  width: 100px;
  height: 280px;
}
.kunai {
  position: relative;
  left: -170px;
  top: -20px;
  width: 250px;
  height: 250px;
}

.level {
  position: relative;
  top: -260px;
  left: -2px;
  width: 100px;
  height: 300px;
}

.btnBack {
  position: relative;
  left: 20px;
  top: 20px;
  border-radius: 50px;
  width: 70px;
  height: 70px;
}
.btnBack img {
  width: 65px;
  height: 65px;
}
